body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.signup-main {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 50%;
  background-color: #fff;
  padding: 2em;
  border: 0.3em solid#ecd018;
  box-sizing: border-box;
}

.signup-card-title {
  margin: 0 0 0.6em 0;
}

.signup-input {
  width: 100%;
  padding: 0.8em;
  border: 2.5px solid rgb(20, 20, 20);
  box-sizing: border-box;
  margin-bottom: 1em;
  font-size: 16px;
}

.signup-input:focus, .signup-input:active {
  border-color:#ecd018;
  outline: none;
}

.signup-btn {
  padding: 1em;
  min-width: 100px;
  background-color: transparent;
  border: 2.5px solid rgb(20, 20, 20);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  margin-right: 10px;
  color: rgb(20, 20, 20);
}

.signup-btn:visited {
  color: rgb(20, 20, 20);
}

.signup-btn:hover {
  cursor: pointer;
  background-color:#ecd018;
  outline: none;
  color: #fff;
}

.signup-alert {
  background-color: tomato;
  padding: .5em 1em;
  width: 100%;
  color: white;
  box-sizing: border-box;
  margin-bottom: 1em;
}
